.image{
    width : 50%;
    height : 48vh;
}

.scroll{
    width: 100%;
    height: 50%;
}

.header{
    text-align: center;
}

.foot{
    text-align: center;
}

.hh{
    text-align: center;
}

.desc{
    text-align: center;
}